<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shch.mybatis.demos.demo01.dao.UserMapper">
    <select id="queryList" resultType="org.shch.mybatis.demos.demo01.model.UserPo">
        SELECT *
        FROM y_user
    </select>
</mapper>